.footer {
  background-color: #333;
  padding: 10px 0; 
  height: auto; 
  color: white;
}

.footer-map {
  text-align: left;
}

.footer-title {
  text-align: center;
}

.footer-social {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.footer .contact-info p {
  /*margin-top: 1px;*/ 
  margin-bottom: 5px; 
}

.footer .footer-social a {
  margin: 0 10px;
}

.footer .text-center {
  text-align: center;
  font-size: 12px;
}

.pCopy {
  text-align: center;
  margin-top: 30px;
  font-size: 11px;
}

